/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
  margin-bottom: 180px;
}

.header__container_user {
  display: flex;
  align-items: center;
}

.header__user {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-right: 12px;
}

.header__add-clothes {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}

.header__name-person {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 20px;
}

.header__sign-up {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;
}

.header__log-in {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 30px;
  height: 56px;
  width: 56px;
}

.header__currentDate {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.nav__register-button {
  border: none;
  background-color: transparent;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.nav__login-button {
  border: none;
  background-color: transparent;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.nav__register-button:hover,
.nav__login-button:hover {
  opacity: 70%;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
  }
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.header__logo img {
  height: 250px;
  margin-top: 50px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 200px;
}
.header__nav-item {
  margin: 0 15px;
}

.header__nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header__nav-item a:hover {
  text-decoration: underline;
}
