.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 1000;
}

.header__logo img {
  height: 250px;
  margin-top: 50px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 200px;
}
.header__nav-item {
  margin: 0 15px;
}

.header__nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header__nav-item a:hover {
  text-decoration: underline;
}
