.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 60px;
  padding: 0 20px;
  position: relative;
}

.profile__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
}

.profile__add-clothes {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: flexbox;
}

.profile__new-clothes {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: flexbox;
}

.profile__avatar-logo {
  display: flexbox;
  gap: 20px;
  align-items: center;
  height: 56px;
  width: 56px;
}

.profile__name-person {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 68px;
}

.profile__items {
  display: flex;
}

.profile_section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}
