/* .card__like-button {
  background: transparent url("../../images/empty-heart.png") center no-repeat;
  width: 21px;
  border: none;
  opacity: 100%;
  cursor: pointer;
  margin-left: 10px;
}
.card__like-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.card__like-button_liked {
  background: transparent url("../../images/full-heart.png") center no-repeat;
  width: 21px;
  border: none;
  opacity: 100%;
  cursor: pointer;
  top: 16px;
  margin-left: 10px;
}

.card__like-button_hidden {
  display: none;
} */

.card_content {
  width: 100%;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
}
