.profile {
  /* padding: 20px; */
  padding-top: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.profile__title {
  text-align: center;
  margin-bottom: 20px;
}

.profile__blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: self-end;
  list-style-type: none;
}

.profile__blog-card {
  background-color: white; /* White background for the blog card */
  margin: 10px 0; /* Space between blog cards */
  padding: 15px; /* Padding inside each card */
  border: 1px solid #ccc; /* Light border */
  border-radius: 10px; /* Slightly rounded corners */
  transition: box-shadow 0.3s; /* Smooth transition for shadow effect */
}

.profile__blog-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}

.home__blog-title {
  font-size: 1.5em; /* Size for the blog title */
  color: #007bff; /* Customize color */
  margin: 0 0 10px; /* Space below the title */
}

@media (max-width: 768px) {
  .profile__blogs {
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
  }
}

@media (max-width: 480px) {
  .profile__blogs {
    grid-template-columns: 1fr;
  }
}

h1 {
  margin-bottom: 0;
}

.profile__sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  height: 40px;
}

sidebar__profile-data {
  margin: 0 0 8px 0;
  width: 190px;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: Cabinet Grotesk;
}

.sidebar__profile-data:hover {
  opacity: 0.5;
}

/* .profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding-top: 70px;
    padding-left: 0;
  } */

.sidebar__logout {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  top: 100px;
  flex-direction: row;
  font-family: Cabinet Grotesk;
  margin-left: 20px;
}
.sidebar__logout:hover {
  opacity: 0.5;
}
