.weather {
  position: relative;
}
.weather_info {
  position: absolute;
  top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}
.weather_image {
  width: 100%;
  min-height: 70px;
}

.card_section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}
.card_name {
  border-radius: 4px;
  padding: 2px 12px;
  width: max-content;
  text-align: center;
  color: black;
  background-color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}
.card_image {
  width: 325px;
  height: 328px;
  border-radius: 20px;
}

.card {
  position: relative;
}

.main {
  padding: 0 20px;
}

.main_subheading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
