.home {
  justify-content: center;
}

.home__title {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 280px;
}

.home__blogs {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  list-style-type: none;
  margin-right: 30px;
}

.home__blog-card {
  background-color: white; /* White background for the blog card */
  margin: 10px 0; /* Space between blog cards */
  padding: 15px; /* Padding inside each card */
  border: 1px solid #ccc; /* Light border */
  border-radius: 10px; /* Slightly rounded corners */
  transition: box-shadow 0.3s; /* Smooth transition for shadow effect */
  width: 320px;
}

.home__blog-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}

.home__blog-title {
  font-size: 1.5em; /* Size for the blog title */
  color: #007bff; /* Customize color */
  margin: 0 0 10px; /* Space below the title */
}

@media (max-width: 768px) {
  .home__blogs {
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .home__blogs {
    grid-template-columns: 1fr;
    overflow: hidden;
  }
}
