.weather {
  position: relative;
}
.weather_info {
  position: absolute;
  top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}
.weather_image {
  width: 100%;
  min-height: 70px;
}
.main {
  padding: 0 20px;
}
.card_section {
 margin-top: 20px;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 justify-content: center;
 position: relative;
}
.card_name {
  text-align: center;
  top: 20px;
  position: absolute;
  color: black;
  background-color: white;
  margin-left: 160px;
}
.card_image {
  /* width: 365px;
  height: 369px; */
  width: 325px;
  height: 328px;
  border-radius: 20px;
}  

.main_subheading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.card{
  position: relative;
}