.item__modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.item__content {
  background-color: white;
  max-width: 498px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  padding-bottom: 20px;
  padding-left: 0px;
  overflow: hidden;
  padding-left: 20px;
}

.item__content_type_image {
  background-color: white;
  max-width: 498px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
  padding-left: 0;
  /* object-fit: cover; */
}
/* .item-modal__delete {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ff4d00;
  position: absolute;
  bottom: 68px;
  right: 32px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
} */

.item__container {
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__image {
  object-fit: cover;
}

.item-modal__delete_hidden {
  display: none;
}

.item__delete-button {
  position: absolute;
  bottom: 55px;
  right: 30px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ff4d00;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.item__close {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  background-color: white;
  background: transparent;
}

.item__selected-card {
  margin-left: 20px;
  margin-top: 10px;
}

.item__weather-type {
  margin-left: 20px;
}
