.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.modal__content {
    background-color: white;
    max-width: 498px;
    width: 100%;
    border-radius: 20px;
    padding: 34px 36px;
    position: relative;
}

.modal__radio-buttons {
    flex-wrap: wrap;
    gap: 20px;
}    

.modal__name {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    border: none;
    border-bottom: solid;
    border-bottom-width: 1px;
    width: 100%
}

.modal__link {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    border: none;
    border-bottom: solid;
    border-bottom-width: 1px;
    width: 100%
}

.modal__hot {
    margin-bottom: 10px;
}

.modal__warm {
    margin-bottom: 10px;
}

.modal__cold {
    margin-bottom: 40px;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 30px;
    border: none;
}

.modal__button-text {
    font-size: large;
    bottom: 20px;
    background-color: gray;
    color: white;
}    
